{% extends "bookmaze/base.html" %}

{% block content %}

{% if can_create_maze %}
    <div class="row mb-3">
        <div class="col text-center">
        <a class="btn btn-primary" href="{% url "maze:my_maze_create" %}">Create a maze</a>
        </div>
    </div>
{% endif %}
{% if show_user_mazes %}
    <div class="row mb-3">
        <div class="col text-center">
        <h2>My Mazes</h2>
        </div>
    </div>
{% include "maze/maze_list.html" with maze_rows=user_maze_rows %}
{% endif %}

<div class="mb-5"></div>

<div class="row mb-3">
    <div class="col text-center">
      <h2>All Mazes</h2>
    </div>
</div>

<div class="row mb-4">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <form method="get">
            <div class="input-group">
                <input
                    id="search"
                    name="search"
                    type="text"
                    class="form-control"
                    placeholder="Search"
                    aria-label="Search"
                    aria-describedby="button-search"
                    {% if search_term %}
                        value="{{ search_term }}"
                    {% endif %}
                >
                <button
                    class="btn btn-outline-secondary"
                    type="submit"
                    id="button-search"
                >
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </form>
    </div>
    <div class="col-lg-4"></div>
</div>

{% include "maze/maze_list.html" with maze_rows=maze_rows %}

<div class="pagination">
    <span class="pagination-links">
        {% if all_maze_page.has_previous %}
            <a href="{{all_maze_page.links.first}}">&laquo; First</a>
            <a href="{{all_maze_page.links.previous_page}}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ all_maze_page.number }} of {{ all_maze_page.paginator.num_pages }}.
        </span>

        {% if all_maze_page.has_next %}
            <a href="{{all_maze_page.links.next_page}}">Next</a>
            <a href="{{all_maze_page.links.last_page}}">Last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}