{% extends "bookmaze/base.html" %}

{% block content %}

{% if can_create_maze %}
    <div class="row mb-3">
        <div class="col text-center">
        <a class="btn btn-primary" href="{% url "maze:my_maze_create" %}">Create a maze</a>
        </div>
    </div>
{% endif %}
{% if show_user_mazes %}
    <div class="row mb-3">
        <div class="col text-center">
        <h2>My Mazes</h2>
        </div>
    </div>
{% include "maze/maze_list.html" with maze_rows=user_maze_rows %}
{% endif %}

<div class="mb-5"></div>

<div class="row mb-3">
    <div class="col text-center">
      <h2>All Mazes</h2>
    </div>
</div>

<div class="row mb-4">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <form method="get">
            <div class="input-group">
                <input
                    id="search"
                    name="search"
                    type="text"
                    class="form-control"
                    placeholder="Search"
                    aria-label="Search"
                    aria-describedby="button-search"
                    {% if search_term %}
                        value="{{ search_term }}"
                    {% endif %}
                >
                <button
                    class="btn btn-outline-secondary"
                    type="submit"
                    id="button-search"
                >
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </form>
    </div>
    <div class="col-lg-4"></div>
</div>

{% include "maze/maze_list.html" with maze_rows=maze_rows %}

<nav aria-label="Page navigation" class="pagination-container">
    <ul class="pagination">
        {% if all_maze_page.has_previous %}
            <li class="page-item">
                <a class="page-link" href="{{ all_maze_page.links.first }}" aria-label="First">
                    <span aria-hidden="true">&laquo;&laquo; First</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="{{ all_maze_page.links.previous_page }}" aria-label="Previous">
                    <span aria-hidden="true">&lsaquo; Prev</span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">&laquo;&laquo; First</span>
            </li>
            <li class="page-item disabled">
                <span class="page-link">&lsaquo; Prev</span>
            </li>
        {% endif %}

        <li class="page-item active">
            <span class="page-link">
                Page {{ all_maze_page.number }} of {{ all_maze_page.paginator.num_pages }}
            </span>
        </li>

        {% if all_maze_page.has_next %}
            <li class="page-item">
                <a class="page-link" href="{{ all_maze_page.links.next_page }}" aria-label="Next">
                    <span aria-hidden="true">Next &rsaquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="{{ all_maze_page.links.last_page }}" aria-label="Last">
                    <span aria-hidden="true">Last &raquo;&raquo;</span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">Next &rsaquo;</span>
            </li>
            <li class="page-item disabled">
                <span class="page-link">Last &raquo;&raquo;</span>
            </li>
        {% endif %}
    </ul>
</nav>

{% endblock %}