.maze-form-container {
    margin-bottom: 40px;
    max-width: 600px;
}

.maze-step {
    border: 1px solid rgb(167, 167, 167);
    border-radius: 5px;
    margin-bottom: 15px;
    max-width: 600px;
    padding: 10px;
}

.maze-step p {
    margin-bottom: 5px;
}

.pagination {
    margin-bottom: 15px;
}

.maze-list .maze-title {
    text-align: center;
    margin-bottom: 0px;
}

.maze-list a{
    color: black;
    text-decoration-line: none;
}

.maze-list canvas {
    margin: auto;
    display: block;
}