{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="{% static 'bookmaze/css/bookmaze.css' %}" rel="stylesheet">
    <link href="{% static 'maze/css/maze.css' %}" rel="stylesheet">

    <title>{% block title %}Book Maze{% endblock %}</title>
  </head>
  <body>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
            <span class="fs-4">Book Maze</span>
          </a>

          <ul class="nav nav-pills">
            {% if not request.user.is_authenticated %}
              <li class="nav-item"><a href="{% url "login" %}" class="nav-link">Login</a></li>
            {% endif %}
          </ul>
        </header>
    </div>
    <div class="container">
      {% block content %}{% endblock %}
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"></script>
    <script src="{% static 'maze/js/maze.js' %}"></script>
    <script src="https://kit.fontawesome.com/08815a8af6.js" crossorigin="anonymous"></script>
  </body>
</html>